# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info/
*.spec
build/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*.db
*.log
