# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db